*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.board{
    width: 1000vw;
    height: 1000vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)
}


.cpu-guess {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.cpu-guess button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.cpu-guess button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.cpu-guess.show {
    display: flex;
}